{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% trans "Метки" %}</h1>

<a class="btn btn-primary mb-3" href="{% url 'labels:create' %}">
    {% trans "Создать метку" %}
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% trans "Имя" %}</th>
            <th>{% trans "Дата создания" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'labels:update' label.pk %}">{% trans "Изменить" %}</a>
                <br>
                <a href="{% url 'labels:delete' label.pk %}">{% trans "Удалить" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}